option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8081
    FRONTEND_PORT: 3000
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

container_commands:
  01_install_pm2:
    command: "npm install -g pm2"
  02_install_dependencies:
    command: "cd backend && npm install && cd ../frontend && npm install"